In [1]:
print("hello world")

hello world

In [3]:
print("this is my first python programm")

this is my first python programm

In [4]:
#my name is bala

In [6]:
"""jj
kkk
kkk
"""

'jj\nkkk\nkkk\n'

In [9]:
a = 10

In [10]:
a

10

In [12]:
type(a)

int

In [13]:
b = "bala"

In [14]:
b

'bala'

In [15]:
type(b)

str

In [17]:
print (a,b)

10 bala

In [21]:
print (a, b , "rugby uk")

10 bala rugby uk

In [22]:
a = 45
b = "bala"

In [27]:
a,b , S = 45 , "bala" , "this is my name"

In [28]:
name = "bala"
userid = "in ooo1"
password = "ssss"
mail = "bala illa @gmail"

In [29]:
print(True + True + True + False + True)
print(False - True + True )

4
0

In [30]:
True * True

1

In [31]:
True / False

ZeroDivisionError: division by zero

In [32]:
1

1

In [33]:
1 + "sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
str(1) + "sudh"

'1sudh'

In [35]:
"1"+ "sudh"

'1sudh'

In [36]:
1+ 1.0

2.0

In [37]:
"bala"+ "bala"+"bala"

'balabalabala'

In [38]:
"bala"*4

'balabalabalabala'

In [40]:
a=update.get()

NameError: name 'update' is not defined

In [55]:
a = int(input())

10

In [57]:
b = int(input())

20

In [58]:
c = int(input())

30

In [51]:
int(a),int(b),int(c)

(10, 20, 30)

In [56]:
type (a
     )

int

In [68]:
O = a+b/c
O

10.666666666666666

In [60]:
O

1.0

In [64]:
p=O+2j
p

(1+2j)

In [66]:
str(p) + "bala"

'(1+2j)bala'

In [70]:
p = int(input("this is my var a "))
q = int(input("this is my var b "))
r = int(input("this is my var c "))
o = (a+b)/c
o1 = o + 78 + 6j
str(o1) + "sudh"

this is my var a 35
this is my var b 40
this is my var c 65

'(79+6j)sudh'

In [80]:
if p <35:
    print(p)
else:
    print('Not less')

Not less

In [78]:
x=["name1","name2","name2"]

In [79]:
len(x)

3

In [81]:
x={'forename':'name1','second forename':'name2'}

In [82]:
x.get('forename')

'name1'

In [92]:
x.update({'other forename':'name3'})

In [93]:
x

{'forename': 'name1', 'second forename': 'name2', 'other forename': 'name3'}

In [94]:
k=dict()

In [96]:
type(k)

dict

In [99]:
salary = int(input("enter your salary"))
if salary > 10000:
    print("I will buy a car")
elif salary > 5000:
    print(" I will go for a bike")
elif salary > 1000:
    print("I will not buy anything")
else:
    print("I will go for saving")

enter your salary10000
 I will go for a bike

In [101]:
if x is not None:
    print("data is there")
else:
    print("data is not there")

data is there